@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary-color : #0065FC;
    --secondary-color : #DEEBFF;
    --background : #F2F2F2;  
}
* {    
    box-sizing: border-box;
    padding:  0;
    margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 1329px;

}
.containergen{
    margin-left: 50px;
    margin-right: 30px;
    height: auto;
}
ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 1450px;
    margin: 0 auto; 
    overflow: auto;
    padding: 0;
    display: flex; 
    justify-content: space-between;
    height: 100%;
}

/* Navbar */ 
 .Logoimg  img{
    width: 90px;
    height: auto;
}
.container .Logoimg {
    margin-top: 58px;
}
.navbar{
    height: 130px;
}
.navbar a:hover{
    color: var(--primary-color);
}

.navbar li:hover {
    padding-top: 58px;
    border-top: 3px solid var(--primary-color) ;
}
.navbar li {
    padding-top: 61px;
    padding-left :10px; 
    padding-right: 10px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar .flex {
    justify-content: space-between;
}

/* Div recherche */ 
.formsearch{
    display: flex;
    flex-direction: column;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0;
}

.fa-map-marker-alt {
    background-color: var(--background);
    width: 11%;
    padding: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.searchbox {
    display: flex;
    padding-top: 30px;
    width: 30%;
    height: 80px;
}
.searchbox input,button {
    width: 65%;
    border: 1px solid var(--background);
    border-right: 0px;
    border-left: 0px;
    font-size: 15px;
    padding: 12px;
}
.searchbox button {
    width: 40%;
    background-color: var(--primary-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 18px;
    color: white;
    border-left: 0px;
}
button {
    cursor: pointer;
}
.searchbox .display-hide{
    display: none;
}

/* Filtres */ 
.filtercontainer{
    align-items: center;
    display: flex;
    max-width: 1450px;
    margin: 20px auto;
    flex-direction: row;

}
.filtertitle {
    margin-right: 20px ;
}
.filterbar{
    display: flex;
    width: 800px;

}
.filterbar p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 20px;
}
.buttonfilter{
    display: flex;
    justify-content: flex-start;
    height:50px;
    background: none;
    border: 4px solid var(--background);
    box-shadow: inset 0 0 0 0 #DDEBFF;
    transition: ease-out 0.3s;
    border-radius: 30px;
    border-left: none;
    padding: 0;
    align-items: center;
    width: 30%;
    margin-right: 10px;
}

.buttonfilter:hover{
    box-shadow: inset 200px 0 0 0 #DDEBFF;
}

.fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog {
    color: var(--primary-color);
    background:	#DDEBFF;
    border-radius: 100px;
    padding: 17px;
}
.infoFA {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: blue;
    width: 30px;
    height: 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
}
.infobulle{
    display: flex;
    max-width: 1450px;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* Card*/
.hebergementpopulaire{
    max-width: 1450px;
    display: flex;
    margin: 0 auto;
}
.marsheb {
    padding: 20px;
}
.showmorebtn{
    margin-top: 30px;
    margin-left: 35px;
    cursor: pointer;

}

.containercard1{
    padding: 20px;
    background: var(--background);
    border-radius: 20px;
    width: 75%;

}
.containercard2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.poptext {
    margin-top: 15px;
    margin-bottom: 10px;
}
.populaire
{
    width: 35%;
    margin-left: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background: var(--background);
    border-radius: 20px;
}

.popcharts{
 display: flex;
 justify-content: space-between;
 align-items: center;   
 width: 100%; 
}

.cardpopulaires{
    display: flex;
    flex-direction: column;
}
.cardpop {
    display: flex;
    height: 200px;
    width: 100%;
    background: white;
    border-radius: 20px;
    margin-bottom: 20px;
    border : 3px solid white;
}
.cardcontentpop{
    flex-direction: column;
    width: 60%;
    padding: 5px 8px;
    box-sizing: border-box;
    font-size: 13px;
}
.card-imagepop {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 40%;
    margin: 2px;
    overflow: hidden;
}
.card-imagepop img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.starpop{
    padding-top: 15px;
}

.card{
    background: white;
    border-radius: 20px;
    border : 3px solid white;
    width: 30%;
    height: 250px;
    margin: 7px;
}
.cardcontent{
    flex-direction: column;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 13px;
}

.cardcontentactivity {
    flex-direction: column;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 13px;

}



.card-image {
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2px;
    overflow: hidden;
}

.card-imagefrioul {
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2px;
    overflow: hidden;
}

.card-imagefrioul img {
    width: 100% ;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.card-image img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fa-star{
    color: var(--primary-color);
}
.grey{
    color: var(--secondary-color);
}
/*Activité à marseille*/

.Activitymar {
    height: 550px;
    padding: 20px;
    max-width: 1450px;
    max-width: 1450px;
    margin: 15px auto;
}

.regroupcard {
    height: 500px;
    display: flex;
}

.card-imageportcal {
    height: 90%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.card-imageportcal img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cardcontentportcal{
    flex-direction: column;
    margin: 15px;
    box-sizing: border-box;
    font-size: 13px;
    height: 10%;
}
.cardcalport{
    height: 100%;
    width: 25%;
    margin-right: 25px;
    background-color:white ;
    border: 5px solid #FCFDFC;
    border-radius: 15px;
}
.cardforioul{
    width: 25%;
    height: 100%;
    margin-right: 25px;
    border: 5px solid #FCFDFC;

}
.cardfort{
    height: 60%;
    background-color: white;
    border-radius: 15px;
}
.card-imagefort {
    height: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.card-imagefort img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cardfrioul{
    margin-top: 15px;
    height: 15%;
    background-color: white;
    border-radius: 22px;
}

.carddlg{
    height: 40%;
    background-color: white;
    border-radius: 15px;
}
.card-imagedlg {
    height: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.card-imagedlg img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cardlongchamp{
    margin-top: 70px;
    height: 40%;
    background-color: white;
    border-radius: 15px;
}
.card-imagelongchamp {
    height: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.card-imagelongchamp img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cardforioul2{
    width: 25%;
}
.cardactivity{
    height: 500px;
    display: flex;
    align-items: center;
}
/*Footer*/

.footerbooki ul {
    padding:0;
}

footer {
    width: 100vw;
    display:flex;
    background : var(--background);
    max-width:1450px;
    margin: 0 auto;
    padding: 35px;
}
.ft-main-item {
    width: 33%;
}

/*Desktop*/
@media (max-width: 992px){

}

/*Tablette*/
@media (max-width: 992px) and (min-width : 768px) {
    body {
        /* background-color: red; */
    }

    .hebergementpopulaire {
        flex-direction: column-reverse;
       }
    .cardpopulaires {
        flex-direction: row;
        width: 100%;
        height: 200px;
        justify-content: space-between;
    }
    .populaire {
        width: 100%;
        margin: 0;
        border-radius: 20px;
    }
    .ft-main {
        justify-content: space-evenly;
    }
    .ft-main-item {
        padding: 1.25rem;
        min-width: 12.5rem;
      }
    

    .containercard1 {
        margin-top: 30px;
        width: 100%;
    }
    .cardpop {
        width: 33%;
        height: 80%;
    }
    .card-imagepop {
        width: 70%;
    }
    .card-imagepopspe {
        width: 70%;
    }

   
}

@media (max-width: 768px){
    body {
        /* background-color: green; */
    }
    .container {
        display: inline;
        text-align: center;
        height: 100%;
        }
        .Logoimg {
            margin-left:40px;
            padding: 0px;
        }
        
        .navbar {
            height: auto;
        }
    
        .navbar .flex {
            flex-direction: column;
        }
    
       .navbar li {
           width: 50%;
           border-bottom: 0.5px solid var(--background);
           padding-bottom: 20px;
       }
        .navbar li:hover{
            border-top: none;
            border-bottom: 3px solid var(--primary-color) ;
            padding-bottom: 17px;
        }
    
        .navbar ul {
            width: 100%;
        }
        /* searchbar*/
    
        .formsearch {
            margin-right: 20px;
            margin-left: 20px;
        }
    
        .mobile-hide {
            display: none;
        }
        .searchbox .display-hide{
            display: inline-block;
            width: 30%;
    
        }
        .searchbox {
            width: 100%;
        }
    
        .searchbox input {
            width: 65%;
    
        }
        .searchbox button {
            width: 17%;
            padding: 0;
            border-radius: 15px;
        }
        .fa-map-marker-alt {
            width: 12%;
        }
        .buttonfilter {
            width: 47%;
        }
        .filterbar {
            flex-wrap: wrap;
    
            margin-left: 10px ;
            width: 100%;
        }
        .filtercontainer {
            flex-direction: column;
        }
        .filtertitle {
            align-self: flex-start;
            margin: 10px;
        }
        .hebergementpopulaire {
         flex-direction: column-reverse;
        }

     /* dispositon mobile partie populaire */ 
        .populaire {
            width: 100%;
            margin: 0;
            border-radius: 0px;
        }
    
        .containercard2 {
            flex-wrap: wrap;
        }
        .ft-main{
            justify-content: space-evenly;
               }
        .containercard1 {
            border-radius: 0px;
            background: none;
        }
        .card {
            width: 100%;
            background: rgba(236, 229, 229, 0.133);
        }
        .cardpopulaires {
            width: 100%;
        }
        .cardpop{
            height: 200px;
        }
             /* dispositon mobile partie activité */ 
        .Activitymar {
            flex-direction: column;
            height: auto;
        }
        .containergen {
            margin: 0;
        }
        .containercard1 {
            width: 100%;
        }

        .regroupcard {
            flex-direction: column;
            height: auto;
        }
        .cardcalport {
            height: 300px;
            width: 100%;
        }

        .card-imageportcal {
            height: 70%;
        }
        .cardcontentportcal {
            height: 30%;
        }
        .cardfort {
            width: 100%;
            height: 300px;
        }
        .card-imagefort {
            height: 70%;
        }
        .cardfrioul {
            width: 100%;
            height: 300px;
        }
        .card-imagefrioul {
            height: 70%;
        }
        .cardforioul{
            width: 100%;
        }
        .cardforioul2 {
            width: 100%;
        }
        .cardcalport {
            width: 100%;
            height: 300px;
        }
        .carddlg {
            height: 300px;
            width: 100%;
        }
        .card-imagedlg {
            height: 70%;
        }

        .cardlongchamp {
            height: 300px;
            width: 100%;
            margin: 0;
        }

        .card-imagelongchamp {
            height: 70%;
        }
        .cardcontentactivity {
            height:30%;
        }
        .infobulle {
            margin-left : 10px
        }

        footer {
            flex-direction: column;
        }
        .ft-main-item {
            width: 100%;
            margin-top: 30px;
        }



}